.grid{
    padding:10px;
    background-color:rgb(218, 125, 18) ;
    border: 1px rgb(250, 250, 250);
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: #fff;
}

.grid_body{
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.grid_item{
    text-align: center;
    border: 2px dashed rgb(66, 142, 185);
    padding: 30px;
}

.body{
    background-image: url (1676547224_catherineasquithgallery-com-p-kartinka-zelenii-fon-s-listochkami-92jp);
}


.container{
    grid-template-columns: 100px 100px 100px;
    display: grid;
    grid-auto-rows: minmax(100px, 30px);
    
    justify-content: space-around;
    align-content: center;
  }
  .item {
    padding: 10px;
    border: 7px solid rgb(54, 217, 223) 
  }
  .item_1 {
    grid-column-start: 1;
    grid-column-end: 500;
  }
  .item_3 {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .item_2 {
    grid-column-start: 1;
    grid-column-end:2;
  }
  .wrapper{
min-height:100%;
display:grid;
grid-template:minmax(100px,auto) 1fr minmax(70px,auto) / 1fr;
grid-template-areas: 
"header"
"main"
"footer";
  }
.header{
grid-area: header;
padding: 15px;
background-color: rgb(66, 154, 212);
display: grid;
align-items: center;
grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto, 1100px)1fr;
}
.header_logo{
width: 70px;
height: 70px;
border-radius: 50%;
background-color: aliceblue;
grid-column: 2/3;
}
.header_menu{
grid-column: 3/4;
}
.header_list{
display: grid;
grid-auto-flow: column;
justify-items: end;
}




aside{
  background-image: url("1.jpg"); 
  background-repeat: no-repeat;
  background-size: fill;
  
}



body{
    background-image: url("fault.jpg"); 
    background-repeat: no-repeat;
    background-size: 650%;

}



.header_link{
color: rgb(241, 237, 237);
font-size: 18px;

}
.main{
grid-area: main;
padding: 30px15px;
display: grid;
grid-template: 1fr / 1fr minmax(auto,300px) minmax(auto, 1100px)1fr;
column-gap: 10%;


}
.sidebar{
grid-column: 2/3;
background-color: rgb(187, 127, 36);
padding: 20px 15px;
padding-right: 40px;
}
.sidebar_link li{
margin: 0px 0px  15px 0px;
}
.sidebar_link{
color: aliceblue;
font-size: 20px;
} 
.content{
grid-column: 3/4;
}

.gallery_item{
display: grid;
gap:10px;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery_item_big{
grid-column:span 2;
grid-row:span 2;
}  
.gallery_item{
position: relative;
padding: 0px 0px 85% 0px;
} 
 .gallery_item img {
  position: absolute;
  top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 object-fit: cover;
 }
  